@using DotnetTraining.Models
@model List<Student>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core Rookies</a>.</p>
</div>

<div>
    <div>
        <a href="~/Student/create">Create Student</a>
    </div>
    @foreach (var item in Model)
    {
        <p>
            <span>@item.Name</span> - <span>@item.Class</span>
            <a href="~/Student/@item.Id " title="Edit">Edit</a>
            <a href="~/Student/@item.Id/delete" title="Delete">Delete</a> <br />
        </p>
    }
</div>
